@* @model CartViewModel *@

@section Categories {
    <div class="categories-grid">
        <div class="category">Serum</div>
        <div class="category">Moisturizer</div>
        <div class="category">Suncream</div>
        <div class="category">Cleanser</div>
        <div class="category">Toner</div>
        <div class="category">Mask</div>
        <div class="category">Lipstick</div>
        <div class="category">Body Care</div>
        <div class="category">Pallet</div>
        <div class="category">Hair Care</div>
        <div class="category">Soothing Cream</div>
        <div class="category">Lotion</div>
    </div>
}

@section Scanner {
    <div class="scanner-box">
        <h3>Barcode Scanner</h3>
        <form asp-action="Scan" method="post">
            <input type="text" name="barcode" placeholder="Scan with phone or enter barcode" />
            <button type="submit">Scan</button>
        </form>
        <div class="last-scanned">
            <p>Last Scanned Product</p>
            @* <p>Last Scanned Product: @Model.Items.LastOrDefault()?.ProductName</p> *@
        </div>
    </div>
}

<div class="cart-box">
    <h3>Current Sale</h3>
    <table>
        <tr><th>Item</th><th>Qty</th><th>Price</th><th>Subtotal</th></tr>
        <tr><td>apple </td></tr>
        <tr><td>2 </td></tr>
        <tr><td>443 </td></tr>
        <tr><td>232434 </td></tr>

        @* @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>
                <td>@item.Subtotal</td>
            </tr>
        } *@
    </table>
    <p>Total Amount:433434</p>
    @* <p>Total Amount: @Model.TotalAmount</p> *@

    <div class="payment-options">
        <button name="method" value="Cash">Cash</button>
        <button name="method" value="KPay">KPay</button>
        <button name="method" value="Card">Card</button>
        <button name="method" value="WavePay">WavePay</button>
    </div>
    <button class="pay-now">Pay Now</button>
</div>
